#box1 {
    background: pink;
    height: 650px;
    position: absolute;
}

#menu {
    background: gray;
    height: 650px;
    position: absolute;
}

#boxmenu {
    height: 130px;
    background: white;
}

#topo {
    background: powderblue;
    height: 140px;
}

#col1, #col2, #col3 {
    background: goldenrod;
    height: 230px;
    text-align: justify;
}

#col4, #col5, #col6, #col7 {
    height: 650px;
}

#col4 {
    background: cornflowerblue;
}

#col5 {
    background: rgb(194, 100, 237);
}

#col6 {
    background: rgb(100, 237, 130);
}

#col7 {
    background: rgb(237, 139, 100);
}

#caixa {
    text-align: center;
}

#carrossel {
    background: red;
    height: 200px;
}

#box2, #box3, #box4 {
    background: white;
    height: 90px;
    margin: 0px 13px 20px 11px;
}
